.body {
	margin: 0px;
	padding: 0px;
}
.backEndWrap {
	width: 1200px;
	height: 100vh;
	margin: 0 auto;
	font-size: 0px;

	aside {
		display: inline-block;
		width: 20%;
		height: 100%;
		background-color: #182749;
		color: white;

		p {
			display: block;
			text-align: center;
			font-size: 22px;
			margin-bottom: 60px;
			font-weight: 200;
			cursor: pointer;
		}

		p.asideTitle {
			display: block;
			text-align: center;
			font-size: $h4;
			font-weight: 300;
			margin-top: 30px;
			margin-bottom: 0px;
			cursor: default;
			letter-spacing: 3px;
			line-height: 35px;
		}

		div.user {
			display: block;
			text-align: center;
			font-size: 16px;
			margin-top: 30px;
			margin-bottom: 60px;

			img {
				width: 22%;
				display: block;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				margin-bottom: 20px;
			}
		}
	}

	main {
		display: inline-block;
		width: 80%;
		height: 100%;
		vertical-align: top;
		background-color: bisque;
	}
}
