.course {
    //需告變數
    //置中
    $center: 0 auto;

    //  @include filterLabel;
    @mixin filterLabel {
        font-size: 22px;
    display: block;
    margin-bottom: 5px;
    } 

    main {
        h2 {
            @include backTitle;
        }
        .filter{
            @include blockStyle;

        .date{
            label{
                @include filterLabel;
            }
            input{
                @include datepickerStyle;
            }
        }

        }

    }
}