.order {
    //需告變數
    //置中
    $center: 0 auto;

    //  @include filterLabel;
    @mixin filterLabel {
        font-size: 22px;
        display: block;
        margin-bottom: 5px;
    }

    main {
        h2 {
            @include backTitle;
        }

        .filter {
            @include blockStyle;
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 100px;

            .date,
            .orderNum,
            .memberNum {
                margin-right: 20px;

                label {
                    @include filterLabel;
                }
            }

            .date {
                input {
                    @include datepickerStyle;
                    width: 200px;
                    border: .5px solid black;
                }
            }

            .orderNum,
            .memberNum {
                input {
                    @include selectStyle;
                    width: 220px;
                    border: .5px solid black;
                }
            }

            button {
                @include backBtn;
                align-self: flex-end;
            }

        }

        .searchResult {

            table {
                font-size: $bp;
                width: 90%;
                margin: 0 auto;

                tr {
                    width: 100%;

                    th {
                        font-weight: bold;
                        padding: $fontSize*1.5 0;

                        label {
                            cursor: pointer;
                        }
                    }

                    // &:nth-child(4) {
                    //     width: 20%;
                    // }
                }

                td {
                    border-top: 1px solid $black;
                    text-align: center;
                    padding: $fontSize*1.5 0;
                }
            }

            tr:nth-child(even) {
                background-color: $beige;
            }

            button {
                @include editBtn;
                cursor: pointer;
            }
        }
    }

    .orderInfo {
        background-color: $white;
        width: 70%;
        color: $black;
        border: 1px solid red;
        border-radius: 30px;

        h2 {
            font-size: $h2;
            font-weight: 600;
            margin: 50px 0 50px 40px;
        }

        .orderList {
            background-color: $beige;
            margin: $center;
            margin-bottom: 50px;
            width: 90%;


            table {
                font-size: $bp;
                width: 93%;
                margin: $center;

                tr {
                    width: 100%;

                    td {

                        padding: $fontSize*1.5 0;

                        p {
                            padding: $fontSize 0;

                        }
                    }


                }
            }

            button {
                float: right;
                outline: none;
                border: none;
                color: $white;
                background-color: $orange;
                font-size: $mp;
                padding: 5px 20px 5px 20px;
                border-radius: 25px;

                background-repeat: no-repeat;
                background-size: 24px 24px;
                background-position: center left 20px;

                &:hover {
                    cursor: pointer;
                    background-color: $blue2;
                }
            }
        }
    }
}