div.quiz{
    main{
        h2{
            @include backTitle;
        }
        .searchbar{
            @include blockStyle;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
                display: flex;
                label{
                    font-size: $bp;
                    display: block;
                    select{
                        @include selectStyle;
                        width: $fontSize * 20;
                        margin-right: $fontSize * 2;
                    }
                }
            }
            button{
                @include backBtn;
            }
        }
        .table{
            .btns{
                display: flex;
                justify-content: flex-end;
                button{
                    margin: $fontSize*2;
                }
                .off{
                    @include cancelBtn;
                }
                .add{
                    @include addBtn;
                }
            }

            table{
                font-size: $bp;
                width:90%;
                margin: 0 auto;

                input{
                    @include checkbox;
                }
                button{
                    @include editBtn;
                    cursor: pointer;
                }
                tr{
                    width: 100%;
                    label{
                        cursor: pointer;
                    }
                    
                    th{
                        font-weight: bold;
                        padding: $fontSize*1.5 0;
                        text-align: left;

                        &:nth-child(1){
                            width: 10%;
                            label{
                                cursor: pointer;
                            }
                        }
                        &:nth-child(4){
                            width: 20%;
                        }
                    }
                    td{
                        padding: $fontSize*1.5 0;
                    }
                }
            }
            .changePage{
                display: flex;
                justify-content: flex-end;
                .lastPage, .nextPage{
                    @include changePage;
                    margin: $fontSize * 2;
                }
            }
        }
        .quizModalBg{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: hsla(0%,0%,0%,.5);
            opacity: 0;
            z-index: -1;
            transition: all .3s;

            .quizModal{
                background-color: $beige;
                width: 90%;
                height: 95%;
                max-width: 1200px;
                border-radius: 10px;
                padding: 0 $fontSize;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;

                img.closeModal{
                    width: $h2;
                    position: absolute;
                    top: $fontSize;
                    right: $fontSize;
                    cursor:pointer;
                }
                
               .overflowArea{
                    width: 100%;
                    height: 85%;
                    overflow: hidden;
                    overflow-y: auto;
                    background-color: $white;
               }
                form{
                    padding: $fontSize*2;
                    @include clearfixed;

                    > div{
                        padding: $fontSize 0;
                        > span{
                            font-size: $bp;
                            display: inline-block;
                            width: 120px;
                            white-space: nowrap;
                        }
                        .quizField, .quizLevel{
                            @include selectStyle;
                        }
                        .newField{
                            @include inputTextStyle;
                            margin-left: $fontSize;
                        }
                        input[type=file]{
                            @include uploadImg;
                        }
                        .topFunction{
                            background-color: $blue1;
                            border-radius: 30px 30px 0 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            label{
                                font-size: $mp;
                                display: block;
                                background-color: $beige;
                                padding: 10px 20px;
                                border-radius: 30px;
                                margin-left: $fontSize;
                                cursor: pointer;
                                &:hover{
                                    background-color: $blue2;
                                }
                                input[type=checkbox]{
                                    @include checkbox;
                                }
                            }
                            > div{
                                padding: $fontSize 0;
                                .deleteQ{
                                    @include cancelBtn;
                                    margin-right: $fontSize;
                                }
                                .createQ{
                                    @include addBtn;
                                    margin-right: $fontSize;
                                }
                            }   
                        }
                        .downQuestion{
                            display: flex;
                            background-color: $beige;
                            label{
                                display: block;
                                flex-grow: 1;
                                padding: $fontSize 0;
                                display: flex;
                                justify-content: center;
                                input[type=checkbox]{
                                    @include checkbox;
                                }
                            }
                            .contentQ{
                                flex-grow: 25;
                                padding: $fontSize*0.5;
                                textarea{
                                    width: 100%;
                                    resize: none;
                                    border: none;
                                    margin: $fontSize*0.5 auto;
                                    font-size: $mp;
                                    outline: none;
                                    height: $mp*4;
                                    box-shadow: 5px 5px 10px -5px gray;
                                }
                                ul{
                                    li{
                                        font-size: $bp;
                                        display: flex;
                                        align-items: flex-start;
                                        margin: $fontSize auto;
                                        span{
                                            display: block;
                                            margin-right: $fontSize*0.5;
                                        }
                                        textarea{
                                            margin: 0;
                                            height: $mp*3;
                                            box-shadow: 5px 5px 10px -5px gray;
                                        }
                                    }
                                }
                            }
                            .ansAndSta{
                                flex-grow: 2;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: $fontSize $fontSize*0.5;
                                select{
                                    outline: none;
                                    border: none;
                                    display: block;
                                    background-color: $white;
                                    width: 100%;
                                    font-size: $bp;
                                    padding: $fontSize;
                                    margin-bottom: $fontSize;
                                    box-shadow: 5px 5px 10px -5px gray;
                                }
                            }
                        } 
                    }
                    button[type=submit]{
                        @include addBtn;
                        float: right;
                    }
                }
            }
        }
    }
}