@import './../base/reset';
@import './../base/var';
@import './../layout/all';
@import './../layout/header';
@import './../layout/footer';
@import './../layout/login';
@import './../layout/spaceBackground';
@import './../mixin/mixin';
@import './../plugins/allPlugin';

main {
    max-width: 1200px;
    margin: 0 auto;
    color: $white;
}