@import '../base/var';

// 按鈕，用法：@extend %btn;
%btn{
    font-size: $h4;
    background-color: $orange; 
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding:10px 30px;
    font-weight: bold;

 }