@import '../base/var';

// 按鈕，用法：@include btn
@mixin btn {
	font-size: $h4;
	outline: none;
	transform-style: preserve-3d;
	text-decoration: none;
	color: $blue1;
	border-radius: 10px;
	padding: 10px 30px;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	transition: width .5s;
	z-index: 1;
	border-bottom: 5px solid #b47f02;
	border-left: 5px solid #b47f02;

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $orange;
		z-index: -2;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 100%;
		background-color: $blue2;
		transition: width .5s;
		z-index: -1;
	}

	&:hover {
		color: $black;
		top: 3px;
		left: -3px;
		padding: 11px 31px;
		border-bottom: 3px solid #d49603;
		border-left: 3px solid #d49603;
		&:after {
			width: 100%;
		}
	}

	&:active {
		color: $black;
		top: 6px;
		left: -6px;
		padding: 11px 31px;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
		&:after {
			width: 100%;
		}
	}
}




// 標題黃線，用法：@extend %h2;
@mixin h2{
    font-size: $h2;
    font-weight: bold;
    position: relative;
    margin: 50px 0;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        display: block;
        width: 1200px;
        border-bottom: 1px solid $beige;
    }
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        display: block;
        width: 300px;
        border-bottom: 10px solid $yellow;
    }
}




// 使用float時的清除浮動方法: @include clearfixed;
@mixin clearfixed {
    &:after{
        content: '';
        display: table;
        clear: both;
    }
}





// keyframe動畫：引用方法在下面描述
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
//keyframe動畫引用方式
// @include keyframes(rotating) {
//     0% {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(360deg);
//     }
// }

//keyframe動畫用在標籤內
// #yourElement{
//     ...
//     animation: rotating 1s linear infinite;
// }
