@import '../base/color';


//按鈕樣式和hover效果
@mixin hoverColor($color) {
    // background: $yellow;
    color: #000;

    &:hover {
        // background: $blue2;
        color: #fff;
    }
}

//標題下底線
@mixin titleLine {
    &:before {
        content: '';
        position: absolute;
    }

    &:after {
        content: '';
        position: absolute;
    }
}
