.checkOut {
    //需告變數
    //置中
    $center: 0 auto;
    $label: 190px;

    //付款方式
    // 使用方法: @include paymentLabel;
    @mixin paymentLabel {
        display: inline-block;
        width: $label;
        font-weight: 500;
        // vertical-align: middle;
    }

    // 使用方法: @include paymentInput;
    @mixin paymentInput {
        border: none;
        height: 45px;
        box-shadow: 1px 1px 10px rgb(211, 211, 211);
        width: 300px;
        outline: none;
        font-size: 30px;
        padding-left: 10px;
    }

    // 使用方法: @include paymenIfon;
    @mixin paymenIfon {
        // display: table-cell;
        margin: 10px 0px 30px 50px;
        height: 50px;
    }


    main {
        max-width: 1200px;
        margin: $center;
        // border: 1px solid white;

        h2 {
            margin-top: 50px;
            color: aliceblue;
            font-size: $h2;
            font-weight: bold;
            @include h2
        }

        h3 {
            margin: 50px 0px 0px 30px;
            color: $white;
            font-size: $h3;
            font-weight: bold;

        }

        .shoppingList {
            width: 95%;
            margin: $center;
            margin-top: 50px;
            font-size: 40px;

            .course {
                border: 10px solid $orange;
                background-color: $beige;

                margin-top: 30px;

                .top {
                    display: flex;
                    justify-content: space-between;
                    color: rgb(0, 0, 0);
                    font-size: 32px;
                    padding: 30px 0px 20px 25px;

                    .title {
                        display: flex;

                        p.courseTitle {
                            font-weight: 600;
                            margin-right: 30px;
                        }

                    }


                    a {
                        // text-align: right;
                        // flex-direction: row-reverse;
                        // align-self: end;


                        i {
                            color: rgb(100, 100, 100);
                            font-size: 40px;
                            margin-right: 30px;
                        }
                    }
                }

                p.type {
                    font-size: 26px;
                    padding: 0px 0px 20px 25px;

                }

                p.price {
                    text-align: right;
                    font-size: 32px;
                    color: #003B80;
                    font-weight: 600;
                    margin: 0px 30px 30px 0px;
                }
            }
        }

        .price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;



            .discount {
                margin: 50px 30px 80px 0px;
                background-color: rgba(186, 180, 180, 0.397);
                padding: 45px;
                border-radius: 20px;
                font-size: 30px;
                // width: 960px;

                .ccPoint {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    letter-spacing: .1rem;
                    color: $white;
                    font-weight: 500;
                }


                input {
                    width: 100px;
                    height: 40px;
                    font-size: 30px;
                    padding: 0px 10px;
                    border: none;
                    margin: 0px 10px;
                    border-radius: 10px;
                    outline: none;
                    text-align: right;
                }
            }

            .sum {
                color: $white;
                font-size: 30px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                font-weight: 600;
                margin: 0px 30px 20px 0px;



                .ccPoint {
                    display: flex;
                    margin-bottom: 30px;

                    p.text {
                        margin-right: 50px;
                    }

                    p.price {
                        color: $red;
                    }
                }

                .total {
                    display: flex;
                    margin-bottom: 30px;

                    p.text {
                        margin-right: 50px;
                    }
                }

                .pay {
                    display: flex;
                    margin-bottom: 30px;

                    p.text {
                        margin-right: 50px;
                    }
                }
            }
        }

        .payment {
            @include clearfixed;
            margin-bottom: 150px;

            .title {
                font-size: $h3;
                color: $white;
                padding: 0px 0px 30px 30px;
                font-weight: 600;
            }


            form.infon {
                background-color: $beige;
                margin: $center;
                width: 95%;

                .text {
                    font-size: $h4;
                    display: flex;

                    p {
                        padding: 70px 20px 20px 50px;
                        font-weight: 600;
                    }

                    .img {
                        height: 50px;
                        width: 200px;
                        position: relative;
                        margin-top: 60px;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                    }

                }

                p.note {
                    color: #707070;
                    padding: 0px 0px 30px 40px;
                    font-size: $bp;
                }

                .name {
                    @include paymenIfon;

                    label {
                        @include paymentLabel;
                    }

                    input {
                        @include paymentInput;
                    }
                }

                .phoneNum {
                    @include paymenIfon;

                    label {
                        @include paymentLabel;
                    }

                    input {
                        @include paymentInput;
                    }
                }

                .creditCardNum {
                    @include paymenIfon;

                    label {
                        @include paymentLabel;
                    }

                    input {
                        @include paymentInput;
                        width: 90px;
                        margin-right: 10px;

                    }
                }

                .date {
                    @include paymenIfon;

                    label {
                        display: inline-block;
                        width: $label;
                    }

                    select {
                        border: none;
                        height: 45px;
                        box-shadow: 1px 1px 10px rgb(211, 211, 211);
                        width: 100px;
                        outline: none;
                        font-size: $h4;
                        font-size: 25px;

                    }

                    label.months {
                        width: 55px;
                        display: inline-block;
                        font-size: 28px;
                        font-weight: 500;
                        padding-left: 3px;
                    }

                    label.years {
                        width: 55px;
                        display: inline-block;
                        font-size: 28px;
                        font-weight: 500;
                        padding-left: 3px;
                    }
                }

                .creditCardCsc {
                    @include paymenIfon;
                    padding-bottom: 100px;

                    label {
                        @include paymentLabel;
                    }

                    input {
                        @include paymentInput;
                        width: 90px;

                    }
                }
            }

            button {
                float: right;
                margin-right: 30px;
                @include btn($h4);
            }
        }
    }
}