
.galaxy{
    main {
        .outGalaxy{
            .inGalaxy{
                background-image: url('../images/trial/rock/background.svg');
                background-repeat: repeat;
                background-position: center center;
                background-size: cover;
                margin: 0 auto;
                transform-style: preserve-3d;
                margin-bottom: 50px;
                height: 750px;
                display: flex;
                justify-content: center;
                // border: 1px solid blue;
                ul{
                    display: flex;
                    justify-content: center;
                    align-self: start;
                    flex-wrap: wrap;
                    margin: 0 auto;
                    // border: 1px solid red;
                    width: 80%;
                    
                    li{
                        // border: 1px solid green;
                        width: 25%;
                        margin: 50px 0;
                        
                        a{
                            display: block;
                            text-decoration: none;
                            color: $white;
                            font-size: $mp;
                            font-weight: bold;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            // border: 1px solid white;
                            &:hover{
                                transform: scale(1.1);
                            }
                            div{
                                border: 1px solid blue;
                            }
                            img{
                                // border: 1px solid gray;
                                display: block;
                                &:nth-child(2){
                                    height: 100px;
                                    animation: floating 5s linear infinite;
                                    
                                }
                                &:nth-child(3){
                                    width: 100px;
                                }
                            }
                        }
                    }
                }
            }
        }
        max-width: 1200px;
        margin: 0 auto;
        color: $white;
    
        h2{
            @extend %h2;
        }
    
        h3{
            font-size: $h3;
            font-weight: bold;
            margin-bottom: $fontSize*2;
        }
        .universe{
            
        
            article{
                padding: $fontSize;
                background-color: rgba(24, 39, 73, .7);
                @include clearfixed;
    
                p{
                    font-size: $bp;
                    font-weight: bold;
                    line-height: $fontSize*4;
                    text-indent: $bp*2;
                    padding: 0 $fontSize;
                    // letter-spacing: normal;
                }
    
                img{
                    float: right;
                    height: 200px;
                    transform-style: preserve-3d;
                }
            }
        }
        
        .planetQuiz{
            // border: 1px solid yellow;
            .carousel{
                // border: 1px solid green;
                margin: 0 auto;
                width: 300px;
                height: 500px;
                text-align: center;
                position: relative;
                perspective: 1000px;
                perspective-origin:50% 50%;
                transform-style: preserve-3d;
                display: flex;
                // justify-content: center;
                align-items: center;
                .planet{
                    // border: 1px solid red;
                    margin: auto;
                    position: absolute;
                    cursor: pointer; 
                    transition: 1.5s;
    
                    img{
                        min-width: 100%;
                        min-height: 100%;
                        // transform-style: preserve-3d;
                    }
                    div{
                        letter-spacing: 2px;
                        margin-top: $bp;
                        font-size: $bp;
                        font-weight: bold;
                    }
                }
            }
            article{
                width: 80%;
                padding: $fontSize;
                background-color: rgba(24, 39, 73, .7);
                border: 5px solid $orange;
                margin: 50px auto;
                @include clearfixed;
    
                p{
                    font-size: $bp;
                    font-weight: bold;
                    line-height: $fontSize*4;
                    text-indent: $bp*2;
                    padding: 0 $fontSize;
                    // letter-spacing: normal;
                }

                a{
                   @extend %btn;
                   float: right;
                }
            }
        }

        .badge{
            padding: $fontSize;
            background-color: rgba(24, 39, 73, .7);
    
            p{
                font-size: $bp;
                font-weight: bold;
                line-height: $fontSize*4;
                text-indent: $bp*2;
                text-align: center;
                
                // letter-spacing: normal;
            }

            .planetBadge{
                display: flex;
                justify-content: space-around;
                
                margin: 50px 0;
                img{
                    height: 200px;
                    transform-style: preserve-3d;
                }
            }

            .galaxyBadge{
                display: flex;
                justify-content: center;

                img{
                    height: 300px;
                    transform-style: preserve-3d;
                }

                
            }
        }
    }
}

@include keyframes(floating){
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}