
.galaxy{
    main {
        max-width: 1200px;
        margin: 0 auto;
        color: $white;
    
        h2{
            @extend %h2;
        }
    
        h3{
            font-size: $h3;
            font-weight: bold;
            margin-bottom: $fontSize*2;
        }
        .universe{
        
            article{
                padding: $fontSize;
                background-color: rgba(24, 39, 73, .7);
                @include clearfixed;
    
                p{
                    font-size: $bp;
                    font-weight: bold;
                    line-height: $fontSize*4;
                    text-indent: $bp*2;
                    padding: 0 $fontSize;
                    // letter-spacing: normal;
                }
    
                img{
                    float: right;
                    height: 200px;
                    transform-style: preserve-3d;
                }
            }
        }
        
        .planetQuiz{
            
            .carousel{
                width: 80%;
                margin: 0 auto;
                text-align: center;
                position: relative;
                perspective: 1000px;
                transform: translate3d(0,0,600px);
                transform-style: preserve-3d;
                display: flex;
                align-items: center;
                .planet{
                    margin: auto;
                    // position: absolute;
                    cursor: pointer; 
    
                    img{
                       width: 250px;
                       cursor: pointer;
                    }
                    div{
                        letter-spacing: 2px;
                        font-size: $bp;
                        font-weight: bold;
                    }
                }
            }
            article{
                width: 80%;
                padding: $fontSize;
                background-color: rgba(24, 39, 73, .7);
                border: 5px solid $orange;
                margin: 50px auto;
                @include clearfixed;
    
                p{
                    font-size: $bp;
                    font-weight: bold;
                    line-height: $fontSize*4;
                    text-indent: $bp*2;
                    padding: 0 $fontSize;
                    // letter-spacing: normal;
                }

                a{
                   @extend %btn;
                   float: right;
                }
            }
        }

        .badge{
            padding: $fontSize;
            background-color: rgba(24, 39, 73, .7);
    
            p{
                font-size: $bp;
                font-weight: bold;
                line-height: $fontSize*4;
                text-indent: $bp*2;
                text-align: center;
                
                // letter-spacing: normal;
            }

            .planetBadge{
                display: flex;
                justify-content: space-around;
                margin: 50px 0;
                img{
                    height: 200px;
                }
            }

            .galaxyBadge{
                display: flex;
                justify-content: center;
                img{
                    height: 300px;
                }
            }
        }
        
    }
}


