/*Banner 開始 by Alan_Hong*/
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.index {
	main {
		div.banner {
			width: 100%;
			max-width: 1920px;
			height: calc(100vh - 80px); //80px is nav height
			background-image: url('../images/index/indexBanner.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			display: block;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			div.container {
				color: $white;
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					font-size: $h1;
				}

				p {
					font-size: 22px;
					text-align: center;
					margin-top: 40px;
					line-height: 30px;
					position: relative;
					z-index: 50;
				}

				a {
					margin-top: 50px;
					@include btn;
				}
			}

			img.Planet1 {
				width: 200px;
				position: absolute;
				left: 17%;
				bottom: 30%;
				animation-name: Planet1;
				animation-duration: 15s;
				animation-iteration-count: infinite;
			}
			img.Planet2 {
				width: 150px;
				position: absolute;
				left: 25%;
				bottom: 5%;
				animation-name: Planet2;
				animation-duration: 25s;
				animation-iteration-count: infinite;
			}
			img.Planet3 {
				width: 180px;
				position: absolute;
				right: 17%;
				bottom: 20%;
				animation-name: Planet3;
				animation-duration: 16s;
				animation-iteration-count: infinite;
			}
			img.Planet4 {
				width: 120px;
				position: absolute;
				right: 29%;
				bottom: 2%;
				animation-name: Planet1;
				animation-duration: 25s;
				animation-iteration-count: infinite;
			}
		}
		@keyframes Planet1 {
			0% {
				transform: translateY(-10px);
			}
			25% {
				transform: translateY(10px);
			}
			50% {
				transform: translateY(-10px);
			}
			75% {
				transform: translateY(10px);
			}
			100% {
				transform: translateY(-10px);
			}
		}

		@keyframes Planet2 {
			0% {
				transform: translateY(10px);
			}
			25% {
				transform: translateY(-10px);
			}
			50% {
				transform: translateY(10px);
			}
			75% {
				transform: translateY(-10px);
			}
			100% {
				transform: translateY(10px);
			}
		}

		@keyframes Planet3 {
			0% {
				transform: translateY(-13px);
			}
			25% {
				transform: translateY(-10px);
			}
			50% {
				transform: translateY(8px);
			}
			75% {
				transform: translateY(-15px);
			}
			100% {
				transform: translateY(-13px);
			}
		}

		div.galaxyBlock {
			width: 1200px;
			height: 612.8px;
			// border: 1px solid;
			margin: 50px auto;
			// margin-bottom: 50px;

			div.galaxyWarp {
				width: 100%;
				height: 80%;
				font-size: 0px;
				background-color: #ffffff2d;

				div.leftBlock {
					display: inline-flex;
					width: 70%;
					height: 100%;
					vertical-align: top;
					position: relative;

					span {
						display: inline-block;
					}

					.line1 {
						width: 100px;
						height: 50px;
						border: 1px solid white;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: rotate(-25deg) translate(-50%, -130%);
					}

					.line2 {
						width: 300px;
						height: 140px;
						border: 1px solid white;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: rotate(-25deg) translate(-42%, -100%);
					}

					.line3 {
						width: 500px;
						height: 250px;
						border: 1px solid white;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: rotate(-25deg) translate(-42%, -93%);
					}

					.line4 {
						width: 650px;
						height: 320px;
						border: 1px solid white;
						border-radius: 50%;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: rotate(-25deg) translate(-40%, -92%);
					}

					.planet1 {
						width: 100px;
						height: 100px;
						position: absolute;
						right: 0px;
						bottom: 0px;
						transform: translate(-450%, -10%);
						animation-name: galaxyPlanet1;
						animation-duration: 9s;
						animation-iteration-count: infinite;
					}

					.planet2 {
						width: 90px;
						height: 90px;
						position: absolute;
						right: 0px;
						top: 0px;
						transform: translate(-300%, 150%);
						animation-name: galaxyPlanet2;
						animation-duration: 6s;
						animation-iteration-count: infinite;
					}

					.planet3 {
						width: 75px;
						height: 75px;
						position: absolute;
						left: 0px;
						top: 0px;
						transform: translate(200%, 270%);
						animation-name: galaxyPlanet3;
						animation-duration: 12s;
						animation-iteration-count: infinite;
					}
				}

				div.rightBlock {
					display: inline-flex;
					width: 30%;
					height: 100%;
					vertical-align: top;
					flex-direction: column;
					position: relative;

					h3 {
						color: white;
						font-size: 40px;
						margin-bottom: 25px;
						text-align: center;
						width: 100%;
						margin-top: 70px;
					}

					p {
						padding: 20px;
						font-size: 16px;
						width: 75%;
						margin: 0 auto;
						border: 5px solid #ffa307;
						background-color: #642e2ec7;
						color: white;
						text-align: justify;
						line-height: 17px;
					}

					button {
						background-color: #fcc93d;
						font-size: 16px;
						outline: none;
						border: 0px;
						border-radius: 10px;
						width: 150px;
						height: 40px;
						margin-top: 30px;
						cursor: pointer;
						position: absolute;
						bottom: 0%;
						right: 0%;
						margin: 20px;
					}
				}
			}

			div.planetWarp {
				width: 1200px;
				height: 20%;
				display: flex;
				justify-content: center;
				margin-top: 20px;

				img {
					height: 100%;
					margin: 0px 35px;
					cursor: pointer;
				}
			}
		}
		@keyframes galaxyPlanet1 {
			0% {
				transform: translate(-450%, -10%);
			}
			25% {
				transform: translate(-450%, -15%);
			}
			50% {
				transform: translate(-450%, -10%);
			}
			75% {
				transform: translate(-450%, -15%);
			}
			100% {
				transform: translate(-450%, -10%);
			}
		}

		@keyframes galaxyPlanet2 {
			0% {
				transform: translate(-300%, 155%);
			}
			25% {
				transform: translate(-300%, 150%);
			}
			50% {
				transform: translate(-300%, 155%);
			}
			75% {
				transform: translate(-300%, 150%);
			}
			100% {
				transform: translate(-300%, 155%);
			}
		}

		@keyframes galaxyPlanet3 {
			0% {
				transform: translate(200%, 270%);
			}
			25% {
				transform: translate(200%, 265%);
			}
			50% {
				transform: translate(200%, 275%);
			}
			75% {
				transform: translate(200%, 265%);
			}
			100% {
				transform: translate(200%, 270%);
			}
		}
	}
}

/*Banner 結束 Alan_Hong*/
/*輪撥 開始 by Alan_Hong*/
.skw-pages {
	overflow: hidden;
	position: relative;
	height: 574.5px;
}

$skewDeg: 18deg;
$magicVH: 24.3vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	&__half {
		position: absolute;
		top: 0;
		width: 50%;
		height: 574.5px;
		transition: transform $scrollTime;

		&--left {
			left: 0;
			transform: translate3d(-$magicVH, 100%, 0);
		}

		&--right {
			left: 50%;
			transform: translate3d($magicVH, -100%, 0);
		}

		.skw-page.active & {
			transform: translate3d(0, 0, 0);
		}
	}

	&__skewed {
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 140%;
		height: 100%;
		transform: skewX($skewDeg * -1);
		background: #000;

		.skw-page__half--left & {
			left: -40%;
		}
		.skw-page__half--right & {
			right: -40%;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column wrap;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0 30%;
		color: #fff;
		transform: skewX($skewDeg);
		transition: transform $scrollTime, opacity $scrollTime;
		background-size: cover;

		.skw-page__half--left & {
			padding-left: 30%;
			padding-right: 30%;
			transform-origin: 100% 0;
		}
		.skw-page__half--right & {
			padding-left: 30%;
			padding-right: 30%;
			transform-origin: 0 100%;
		}

		.skw-page.inactive & {
			opacity: 0.5;
			transform: skewX($skewDeg) scale(0.95);
		}
	}

	&__heading {
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 25px;
		text-align: center;
	}

	&__description {
		font-size: 18px;
		text-align: center;
	}

	&__link {
		color: #ffa0a0;
	}

	&-1 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg');
			background-size: 100% 100%;
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
	&-2 {
		.skw-page__half--left .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
		.skw-page__half--right .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
		}
	}
	&-3 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg');
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
	&-4 {
		.skw-page__half--left .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
		.skw-page__half--right .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
		}
	}
	&-5 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg');
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
}
/*輪撥 結束 Alan_Hong*/
/*圓餅圖 結束 Alan_Hong*/
h2.H2title {
	width: 1200px;
	margin: 0 auto !important;
	margin-top: 100px !important;
	color: $white;
	font-size: $h2;
	font-weight: bold;
	@include h2;
}
div.PieChart {
	display: block;
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	font-size: 0px;

	.position {
		display: inline-block !important;
		width: 50% !important;
		height: 100% !important;
	}

	.containerText {
		display: inline-flex;
		align-items: center;
		width: 50%;
		height: 100%;
		vertical-align: top;

		.textBox {
			font-size: $mp;
			// width: 300px;
			margin: 0 auto;
			color: white;
			background-color: rgba(24, 39, 73, .7);
			border-radius: 10px;
			padding: 20px;

			p {
				text-align: center;
				line-height: $h1;
				text-align: inherit;
				letter-spacing: 2px;
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}
}
/*圓餅圖 結束 Alan_Hong*/
/*課程輪撥 開始 Alan_Hong*/
div.index {
	div.Course {
		width: 1200px;
		margin: 0 auto;
		font-size: 0px;
		overflow-y: hidden;
		overflow-x: hidden;

		div.slide {
			width: 3600px;
			display: flex;
			position: relative;
			margin-top: 50px;

			.wrapGeneral {
				flex-shrink: 0;
				display: inline-block;
				margin-bottom: 25px !important;
				margin-top: 50px !important;
				width: 340px;
				margin: 0px 30px;
				border-radius: 20px;
				background-color: $white;
				position: relative;

				.favorites {
					border-radius: 50%;
					background-color: $white;
					position: absolute;
					top: 0;
					right: 0;
					transform: translate(-10%, 270%);

					i {
						font-size: 30px;
						padding: 10px;
						cursor: pointer;
						color: rgb(212, 212, 212);
					}
				}

				img.tImg {
					width: 80px;
					border-radius: 50%;
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(25%, -50%);
				}

				a.img {
					display: inline-block;

					img {
						width: 100%;
						border-radius: 20px 20px 0 0;
					}
				}

				.c_Main {
					padding-left: 10px;

					a.title {
						padding-top: 10px;
						font-size: 26px;
						font-weight: 600;
						line-height: 35px;
						text-decoration: none;
						display: inline-block;
						color: black;
						margin-bottom: 25px;
						white-space: wrap;
						word-wrap: break-word;
					}

					.time {
						font-size: 22px;
						margin-bottom: 20px;
					}

					.comment {
						display: flex;
						font-size: 22px;
						margin-bottom: 40px;

						i {
							font-size: 20px;
							color: $yellow;
						}

						a.text {
							margin-left: 10px;
							text-decoration: none;
							color: black;
						}
					}

					.price {
						font-size: $h4;
						font-weight: 800;
						text-align: right;
						margin-bottom: 10px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	.controlCircle {
		display: flex;
		width: 1200px;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 50px;

		.Circle {
			display: inline-block;
			width: 20px;
			height: 20px;
			border: 1px solid #afafafa8;
			border-radius: 50%;
			cursor: pointer;
			margin: 0px 8px;
		}
	}

	.bgcBlack {
		background-color: #afafafa8;
	}
}

/*課程輪撥 結束 Alan_Hong*/
