/*Banner 開始 by Alan_Hong*/

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.index {
	main {
		div.banner {
			width: 100%;
			max-width: 1920px;
			height: calc(100vh - 80px); //80px is nav height
			background-image: url('../images/indexBanner.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			display: block;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			div.container {
				color: $white;
				display: flex;
				flex-direction: column;
				align-items: center;

				h1 {
					font-size: $h1;
				}

				p {
					font-size: 22px;
					text-align: center;
					margin-top: 40px;
					line-height: 30px;
					position: relative;
					z-index: 50;
				}

				a {
					margin-top: 50px;
					@include btn;
				}
			}

			img.Planet1 {
				width: 200px;
				position: absolute;
				left: 17%;
				bottom: 30%;
				animation-name: Planet1;
				animation-duration: 15s;
				animation-iteration-count: infinite;
			}
			img.Planet2 {
				width: 150px;
				position: absolute;
				left: 25%;
				bottom: 5%;
				animation-name: Planet2;
				animation-duration: 25s;
				animation-iteration-count: infinite;
			}
			img.Planet3 {
				width: 180px;
				position: absolute;
				right: 17%;
				bottom: 20%;
				animation-name: Planet3;
				animation-duration: 16s;
				animation-iteration-count: infinite;
			}
			img.Planet4 {
				width: 120px;
				position: absolute;
				right: 29%;
				bottom: 2%;
				animation-name: Planet1;
				animation-duration: 25s;
				animation-iteration-count: infinite;
			}
		}
		@keyframes Planet1 {
			0% {
				transform: translateY(-10px);
			}
			25% {
				transform: translateY(10px);
			}
			50% {
				transform: translateY(-10px);
			}
			75% {
				transform: translateY(10px);
			}
			100% {
				transform: translateY(-10px);
			}
		}

		@keyframes Planet2 {
			0% {
				transform: translateY(10px);
			}
			25% {
				transform: translateY(-10px);
			}
			50% {
				transform: translateY(10px);
			}
			75% {
				transform: translateY(-10px);
			}
			100% {
				transform: translateY(10px);
			}
		}

		@keyframes Planet3 {
			0% {
				transform: translateY(-13px);
			}
			25% {
				transform: translateY(-10px);
			}
			50% {
				transform: translateY(8px);
			}
			75% {
				transform: translateY(-15px);
			}
			100% {
				transform: translateY(-13px);
			}
		}
	}
}

/*Banner 結束 Alan_Hong*/
/*輪撥 開始 by Alan_Hong*/
.skw-pages {
	overflow: hidden;
	position: relative;
	height: 574.5px;
}

$skewDeg: 18deg;
$magicVH: 24.3vh; // this number is magic and depends on skew angle
$scrollTime: 1s;

.skw-page {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	&__half {
		position: absolute;
		top: 0;
		width: 50%;
		height: 574.5px;
		transition: transform $scrollTime;

		&--left {
			left: 0;
			transform: translate3d(-$magicVH, 100%, 0);
		}

		&--right {
			left: 50%;
			transform: translate3d($magicVH, -100%, 0);
		}

		.skw-page.active & {
			transform: translate3d(0, 0, 0);
		}
	}

	&__skewed {
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 140%;
		height: 100%;
		transform: skewX($skewDeg * -1);
		background: #000;

		.skw-page__half--left & {
			left: -40%;
		}
		.skw-page__half--right & {
			right: -40%;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column wrap;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0 30%;
		color: #fff;
		transform: skewX($skewDeg);
		transition: transform $scrollTime, opacity $scrollTime;
		background-size: cover;

		.skw-page__half--left & {
			padding-left: 30%;
			padding-right: 30%;
			transform-origin: 100% 0;
		}
		.skw-page__half--right & {
			padding-left: 30%;
			padding-right: 30%;
			transform-origin: 0 100%;
		}

		.skw-page.inactive & {
			opacity: 0.5;
			transform: skewX($skewDeg) scale(0.95);
		}
	}

	&__heading {
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 25px;
		text-align: center;
	}

	&__description {
		font-size: 18px;
		text-align: center;
	}

	&__link {
		color: #ffa0a0;
	}

	&-1 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-1.jpg');
			background-size: 100% 100%;
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
	&-2 {
		.skw-page__half--left .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
		.skw-page__half--right .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
		}
	}
	&-3 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/mousover-img-2.jpg');
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
	&-4 {
		.skw-page__half--left .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
		.skw-page__half--right .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
		}
	}
	&-5 {
		.skw-page__half--left .skw-page__content {
			background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/img-test.jpg');
		}
		.skw-page__half--right .skw-page__content {
			background: lighten(#1c1c1c, 5%);
		}
	}
}
/*輪撥 結束 Alan_Hong*/
/*圓餅圖 結束 Alan_Hong*/
#H2title {
	width: 1200px;
	margin: 0 auto !important;
	margin-top: 100px !important;
	color: $white;
	font-size: $h2;
	font-weight: bold;
	@include h2;
}
div.PieChart {
	display: block;
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	font-size: 0px;

	.position {
		display: inline-block !important;
		width: 50% !important;
		height: 100% !important;
	}

	.containerText {
		display: inline-flex;
		align-items: center;
		width: 50%;
		height: 100%;
		vertical-align: top;

		.textBox {
			font-size: $mp;
			// width: 300px;
			margin: 0 auto;
			color: white;
			background-color: rgba(24, 39, 73, .7);
			border-radius: 10px;
			padding: 20px;

			p {
				text-align: center;
				line-height: $h1;
				text-align: inherit;
				letter-spacing: 2px;
				&:nth-child(1) {
					display: none;
				}
				&:nth-child(2) {
					display: block;
				}
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}
}
/*圓餅圖 結束 Alan_Hong*/
