.info{
    width: 100%;  
    .info_main{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;


        .info_title{
            @include h2;
            color: $white;
            font-size: $h2;
            border-bottom: $orange 10px solid;
            width: 200px;  
            
        }

        .info_area{
            width: 100%;
            padding: 80px 0;
            display: flex;
            justify-content: space-evenly;
            @include laptop{
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 1px solid #fff;
                   
            }    
        }

        .op_circle {
            width: 200px;
            height: 200px;
            background-color: #fff;
            border-radius: 50%;
            position: relative;

            @include laptop{
                margin-bottom: 50px;
            }

            
                
            .account_pic{
                border: $orange 5px solid;
                border-radius: 50%;
                width: 200px;
                height: 200px;
                overflow: hidden; 

                img{
                    width: 200px;  
                }
            
            }
            label{
                position: relative;
                bottom: 60px;
                left: 140px;
                img{
                    width: 50px;
                    cursor: pointer;
                   
                }

            }

        }
    

        .left_cc {

            flex-direction: column;
            align-content: space-around;

        }

        .notice_bar {
            font-size: $bp;
            width: 525px;
            border: 5px solid $orange;
            border-radius: 10px;
            background-color: #FFF3D8;
            margin-bottom: 30px;
            padding: 10px;

            display: flex;
            justify-content: center;
            

            p {
                // text-align: center;
                color: $black;
            }

            img {
                width: 30px;

            }

            @include laptop{
               margin: 0 auto;
            }
            @include smlPad{
                width: 400px;
                font-size: $mp;
                text-align: center;
                letter-spacing: 1px;
            }
        }

        .info_card {

            @include laptop{
                margin-top: 20px;
            }

            form{
                padding: 40px;
                background-color: $beige;
                width: 850px;
                display: flex;
                flex-direction: column;
                font-size: $bp;
                @include laptop{
                    width: 750px;
                    margin: 0 auto;
                }

                @include smlPad{
                    width: 450px;
                    font-size: $mp;
                }

                @include bigPhone{
                    width: 300px;
                    padding: 20px;
                    
                }
                @include smlPhone{
                    width: 280px;
                }
                
                label{
                    padding: 10px;
                    @include smlPad{
                        font-size: $mp;
                        
                    }  
                    input{
                        border: none;
                        padding: 20px;
                        border-radius: 20px;
                        height: 35px;
                        width: 300px;
                        outline: none;
                        @include bigPhone{
                            height: 25px;
                            width: 200px;
                        }
                    }
                }
                   
                p{
                    // text-align: center;
                    color: $black;
         
                }
                img{
                    width: 30px;
                    
                }
            }
            
            .editFile{
                text-align: center;
                align-self: flex-end;
                border-bottom: $orange 5px solid;
                padding-bottom: 6px;
                cursor: pointer;
                width: 180px;
                color: #9B9595;
                @include smlPad{
                    font-size: $sp;
                    width: 100px;
                }    
            }
                
            .sendBtn{
                @include btn($h4);
                //  width: 200px;
                align-self: flex-end;
                @include smlPad{
                    @include btn($bp);
                }
                @include bigPhone{
                    @include btn($mp);
                }
                @include smlPhone{
                    @include btn($sp);
                }

            }
        }

        .info_second {


            .course{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                @include laptop{
                    width: 1000px;
                    border: 1px solid #fff;
                    margin: 0 auto;
                }
                @include bigPad{
                    width: 800px;
                    border: 1px solid #fff;
                    margin: 0 100px;
                }
                @include smlPad{
                    width: 100%;
                    border: 1px solid #fff;
                    margin: 0 50px;
                }
                .wrapGeneral {
                    margin-bottom: 50px !important;
                    margin-top: 50px !important;
                    width: 340px;
                    border-radius: 20px;
                    background-color: $white;
                    position: relative;
                    overflow: visible;
                    @include laptop{
                        width: 300px;
                                
                    }
                    @include bigPad{
                        width: 250px;
                    }

                    .favorites {
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(-10%, 270%);

                        i {
                            font-size: 30px;
                            padding: 10px;
                            cursor: pointer;
                            color: rgb(212, 212, 212);
                            @include bigPad{
                                font-size: 20px;
                                padding: 9px;
                            }
                        }
                    }

                    img.tImg {
                        width: 80px;
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(25%, -50%);
                        @include bigPad{
                            width: 60px;
                        }
                        
                    }

                    a.img {
                        display: inline-block;
        
                        img {
                            width: 100%;
                            border-radius: 20px 20px 0 0;
                        }
                    }
                
                    .c_Main {
                        padding-left: 10px;

                        a.title {
                            padding-top: 10px;
                            font-size: 26px;
                            font-weight: 600;
                            line-height: 35px;
                            text-decoration: none;
                            display: inline-block;
                            color: black;
                            margin-bottom: 25px;
                        }

                        .time {
                            font-size: 22px;
                            margin-bottom: 20px;
                        }

                        .comment {
                            display: flex;
                            font-size: 22px;
                            margin-bottom: 40px;

                            i {
                                font-size: 20px;
                                color: $yellow;
                            }

                            a.text {
                                margin-left: 10px;
                                text-decoration: none;
                                color: black;
                            }
                        }

                        .price {
                            font-size: $h4;
                            font-weight: 800;
                            text-align: right;
                            margin-bottom: 10px;
                            margin-right: 10px;
                        }
                    }

                


                }
            }

            
        }
    
        

        // ------ 收藏文章 -----
        .love_title{
            margin-top: 100px;
            // margin-bottom: 50px;
        }
        .info_article{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            text-align: center;
            
            @include smlPad{
                flex-direction: column;
                align-items: center;
            }
            .aic_1,.aic_2,.aic_3{
                position: relative;
                // border: 1px solid #fff;
                @include smlPad{
                    margin: 15px 0;
                }
                
                .love_arc{
                    img{
                        position: absolute;
                        width: 70px;
                        top: 4px;
                        right: 0px;
                        cursor: pointer;
                    }
                }
                
                
                img{
                    width: 300px;
                    cursor: pointer;
                    @include bigPad{
                        width: 250px;
                    }
                    @include smlPad{
                        width: 300px;
                    }

                }
                p{
                   color: $white; 
                   margin-top: 20px;
                }


            }
        }

        .achievement_title {
            margin-top: 100px;
            @include h2;
            color: $beige;
        }
        .info_achievement{
            width: 100%;
           

            .big_a{
                background-color: $blue2;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                
                img{
                    width: 100px;
                    margin: 10px 25px;
                    @include smlPhone{
                        width: 80px;
                    }
                }
            }

            .little_a{
                margin-top: 50px;
                padding: 50px;
                width: 100%;
                background-color: $blue2;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @include smlPhone{
                    padding: 25px;
                }

                img{
                    width: 100px;
                    margin: 10px 25px;
                    @include smlPhone{
                        width: 60px;
                    }
                }
            }             
        }     
    }      
}



