.landingPageArea{
    background-color: rgb(19, 5, 5);
    overflow: hidden;
    height: 100vh;
    .andingPageContents{
        position: relative;
        // border: solid 1px #fff;
        img{
            //LOGO
            &:nth-child(1){
                width: 300px;
            }
            //主體
            &:nth-child(2){
                width: 650px;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .ballPrants{
            margin: 0 auto;
            width: 500px;
            display: flex;
            justify-content: space-around;
            align-self: center;

            position: absolute;
            top: 320px;
            left: 50%;
            transform: translateX(-50%);

            .frontBall{
                width: 150px;
                height: 150px;
                background-color: $blue1;
                border-radius: 50%;
                color: $beige;
                font-size: $h2;
                line-height: 150px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: $beige;
                }
                

    
                
            }
            .backBall{
                width: 150px;
                height: 150px;
                background-color: $blue1;
                border-radius: 50%;
                
                font-size: $h2;
                line-height: 150px;
                text-align: center;
    
                a{
                    text-decoration: none;
                    color: $beige;
                }

            }
        }

        .yellowClound{
            position: absolute;
            top: 500px;
            img{
                position: absolute;
                width: 700px;
            }
    
        }

    }
    

   


}