.quiz{
    main{
        h2{
            @include h2;
        }
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        color: $white;

        section{
            width: 100%;
            padding: $fontSize;
            background-image: url('../images/quiz/background/1.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 5px solid $orange;
            margin-bottom: 50px;
            padding: $fontSize * 3;
            font-weight: bold;
            position: relative;
            @include clearfixed;

            img{
                position: absolute;
            }
            .blueBg{
                padding: $fontSize;
                width: 95%;
                background-color: rgba(24, 39, 73, .8);
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 1px solid red;
                margin-bottom: $fontSize*2;
                
                h3{
                    font-size: $h3;
                    margin-bottom: $fontSize*2;
                }
                div{
                    margin-bottom: $fontSize*2;
                    p{
                        font-size: $bp;
                        // border: 1px solid green;
                        line-height: $h2;
                        padding-bottom: $fontSize*2;
                        display: flex;
                        align-items: start;
                        
                        &:before{
                            content: '';
                            display: block;
                            background-image: url('../images/quiz/chronometer.svg');
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            height: $h2;
                            width: $h2;
                            // border: 1px solid red;
                            margin-right: $fontSize;
                        }

                        &:nth-child(2){
                            &:before{
                                background-image: url('../images/quiz/question-mark.svg');
                            }
                        }

                        &:nth-child(3){
                            &:before{
                                background-image: url('../images/quiz/play.svg');
                            }
                        }
                    }
                    
                }
                label{
                    font-size: $mp;
                    align-self: flex-start;
                    line-height: $h3;
                }
            }
            button{
                @include btn;
                display: block;
                float: right;
            }
        }
        .inQuiz{
            display: none;
            .question{
                font-size: $h4;
                align-self: flex-start;
            }
            .answer{
                display: flex;
                flex-direction: column;
                label{
                    line-height: $h1;
                    cursor: pointer;
                }
            }
        }
        .afterQuiz{
            display: none;
        }
        
    }
}